<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Oracle ADO.NET Connection String -->
    <add name="OracleVMS" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=//SERVER:1521/ORCL;User Id=VMS_USER;Password=yourpassword;" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- File Upload Configurations -->
    <add key="UploadServerPath" value="\\192.168.1.100\VisitorPhotos\" />
    <add key="UploadBaseUrl" value="http://fileserver/VisitorPhotos/" />
    <add key="MaxPhotoSizeMB" value="2" />
    <add key="MaxDocSizeMB" value="5" />
    <add key="AllowedImageExt" value=".jpg,.jpeg,.png" />
    <add key="AllowedDocExt" value=".jpg,.jpeg,.png,.pdf" />

    <!-- Session -->
    <add key="SessionTimeout" value="30" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="51200" /> <!-- Allow 50MB max upload -->
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="30" slidingExpiration="true" />
    </authentication>

    <sessionState timeout="30" />
  </system.web>
</configuration>
